*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.section-1 {
	background: url('../img/bg.jpg');
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-position: center;
}
header {
	display: flex;
	padding: 30px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 500ms;
}
nav {
	margin-right: 70px;
}
nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	color: #eee;
	text-transform: uppercase;
	border-bottom:  3px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
}
.active {
	border-color: #00B3FF;
}
nav a:hover {
	border-color: #00B3FF;
}
.logo {
	flex: 1;
	font-size: 35px;
	font-family: sans-serif;
	margin-left: 70px;
	color: #fff;
}
.bgc {
	background: #eee;
	padding: 10px;
}
.bgc .logo {
	font-size: 30px;
	color: #000;
}
.bgc nav a {
	color: #222;
}



.section-2 {
	padding: 20px;
	padding-left: 60px;
}
.section-2 h1 {
	padding: 20px;
	font-size: 40px;
}
.section-2 p {
	padding: 20px;
	line-height: 1.8em;
	font-size: 18px;
}
@media (max-width: 769px){
	header {
		flex-direction: column;
		padding: 20px;
	}
	nav {
		padding: 15px;
		margin: 0px;
	}
}